#header {
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207, 0.8);
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
#espacamento_vertical {
  display: flex;
  align-items: center;
  height: 5vh;
}

#espacamento_horizontal {
  display: flex;
  width: 10%;
}

#imagenseu {
  display: flex;
  min-height: 20%;
  height:auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

#content1 {
  display: flex;
  font-weight: 800;
  font-size: x-large;
  align-items: center;
  color: white;
  height: 20%;
  margin:10px;
}

#content2 {
  display: flex;
  font-size: large;
  font-weight: 200;
  align-items: center;
  color: white;
  height: 40%;
  margin:10px;
}

#logo {
  display: flex;
  height: 100%;
  object-fit: contain;
  align-self: center;
  width: 15%;
}

#henrick {
  display: flex;
  height: 100%;
  object-fit:contain;
  align-self: center;
  border-radius: 5px;
  max-height: 300px;
  margin: 20px;
  font-size: 100%;
}

#sobremim {
  background-image: linear-gradient(
    to top left,
    rgb(51, 51, 51, 0.9),
    rgb(43, 43, 43, 0.5)
  );
  flex-direction: column;
  border-radius: 5px;
  display: flex;ggg
  color: white;
  min-width: 60%;
  padding: 15px;
  min-height: 300px;
  justify-content:space-evenly;
}

#textoeducacao {
  background-image: linear-gradient(
    to top left,
    rgb(51, 51, 51, 0.9),
    rgb(43, 43, 43, 0.5));
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  font-weight: 100;
  font-size: medium;
  color: white;
  height: 16%;
  padding: 15px;
  border-radius: 5px;
}

#extra {
  background-color: hsl(142deg 98% 58%);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50%;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;
  text-align: center;
  width: 75%;
  color: rgb(151, 151, 151);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

#habilidades {
  background-image: linear-gradient(
    to left top,
    rgba(156, 156, 156, 0.9),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-items: unset;
  margin: 5%;
}

#conteudo {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-direction: column;
  align-items: center;
}